/* ------------------- PARAMETRES GENERAUX ------------------- */

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('img/book-flowers.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


@font-face {
  font-family: 'harmonymedium';
  src: url('fonts/harmony_personal_use-webfont.woff2') format('woff2'),
       url('fonts/harmony_personal_use-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* ------------------- MESSAGE ALERTE ------------------- */
  .success, .fail {
    text-align: center;
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
  }

  .success {
    background-color: rgba(22, 90, 22, 0.596);
  }

  .fail{
    background-color: rgba(148, 44, 44, 0.582);
  }


/* -------------------  ELEMENTS FORMULAIRE ------------------- */

  h1 {
    text-align: center;
    color: #b1926f;
    font-size: 3.5rem;
    font-family: 'harmonymedium';
  }

  label {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #000000;
  }

  input::placeholder{
    font-size: 13px;
  }

  input {
    display: block;
    padding:20px;
    width: 40%;
    min-width: 350px;
    margin: 0 auto;
  }

  button {
    background-color: #b1926f;
    color: white;
    font-weight: bolder;
    font-family: 'harmonymedium';
    letter-spacing: 2px;
    font-size: 1rem;
    border: solid 1px #7e674d;
    padding : 20px 50px;
    border-radius: 15px;
    display: block;
    margin: 50px auto 50px;
    text-align: center;
  }

  /* -------------------  ELEMENTS TABLEAU ------------------- */
  table {
    width: 100%;
  }

  th {
    width: 33%;
    font-family: 'harmonymedium';
    font-size: 1.5rem;
    height: 15px;
  }

  tr{
    background-color: rgba(253, 249, 249, 0.575);
  }

  td {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'harmonymedium';
    margin: 0;

  }

  .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b1926f;
    padding:0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0;
    padding-left: 5%;
    
  }

  .ajouter:hover{
    color: black;
    border: solid rgba(253, 249, 249, 0.575) 1px;
  }

  .delete:hover{
    color: black;
  }

  /* REPSONSIVE  REPSONSIVE REPSONSIVE REPSONSIVE REPSONSIVE REPSONSIVE REPSONSIVE REPSONSIVE REPSONSIVE*/


  @media(max-width:1190px){
    
    body {
      background: none;
    }

    .book-form{
      background-image: url('img/book-flowers.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: center/cover;
      padding-bottom: 1%;
      padding-top: 1%;
    }

    tr{
      background-color: rgb(253, 249, 249);
    }

  }

  @media(max-width:785px){
    
    body { 
      padding-bottom: 1%;
      padding-top: 1%;
    }

  }

  @media(max-width:685px) {

    h1 {
      font-size: 2.5em ;
    }

    .book-form {
      padding-top: 6%;

    }
  }

  @media(max-width:420px) {

    *{
      white-space: nowrap;
      overflow-x: hidden;
    }
    body{
      white-space: nowrap;
      background-size: contain;
      padding-bottom: 0%;
      box-sizing: border-box;
    }


    input{
      /* max-width: 50%; */
      min-width: 80%;
      padding-left: 0;
      padding-right: 0; 
    }

    input::placeholder{
      padding-left: 4%;
    }

    th {
      font-size: 1.3rem;
      height: 0px;
    }

    table {
      box-sizing: border-box;
      white-space: nowrap;
    }
  }



  